*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    display: flex;
    background-color: #dd4343c1;
    min-height: 50vw;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
    
}
.item{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    border: 1px solid coral;
}
.item {
    display: flex;
    justify-content: center;
    align-items: center;
}